/* Add screen styles below */
body {
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
    color: #424242;
}

h1{
    margin: 20px;
}

.img-container{
    background: no-repeat bottom / cover url('images/ascended.jpg');
    display: flex;
    height:500px;
    width:500px;
    float:left;
    margin-right: 20px;
    margin-bottom: 55px;
}

.bottom-text{
    align-self: flex-end;
    background:gray;
    border: 1px solid white;
}

section{  
    display: flex;
    background: #424242;
    border-radius: 20px;
    margin-bottom: 50px;
}

article{
    margin: 20px;
    padding: 20px;
    color:#fff;
    background: black;
}

article:nth-of-type(1){
    flex:3;
}

article:nth-of-type(2){
    flex:2;
}

article:nth-of-type(3){
    flex:3;
}

.sidebyside{
    display: flex;
    gap: 20px;
}

.masthead {
    background: no-repeat bottom / cover url('images/lancestemple.jpg');
    height:350px;
    width: 350px;
    border-radius: 100px;
    background-size: 400px;
    background-position: center;
    margin: 20px 25%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.spacedlist{
    margin-bottom: 20px;
}

.margintop{
    margin-top: 20px;
}

table, th, td {
    border: 1px solid white;
}

.display-sticky{
    position: -webkit-sticky;
    position: sticky;
}

#nav{
    top: 0;
    width:50%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: #ffff;
}

a[navitem]{
    margin-left: 150px;
    margin-top: 5px;
}

footer{
    color:white;
    display: block;
    background: #424242;
    border-radius: 20px;
    margin-bottom: 50px;
}